  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {}

  @media screen and (max-width: 575px) {}


  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  header {
    background-color: #1976d2;
  }

  header,
  footer {
    height: 60px;
  }

  main {
    flex: 1;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: rgb(233, 232, 232);
  }
