<div class="wrapper">
  <header></header>
  <main>
    <form [formGroup]="mainForm" autocomplete="off" (ngSubmit)="submit()" id="ngFormMain" class="form-create-module" (keydown.enter)="$event.preventDefault()">
        <div class="row">
            <div class="col-md-3">
                <label class="form-label">First</label>
            </div>
            <div class="col-md-9">
                <mat-form-field>
                    <input formControlName="first" name="first" maxlength="100" matInput autocomplete="off" appearance="outline">
                </mat-form-field>
            </div>
        </div>
    </form>
  </main>
  <footer>
    <span class="span-right">
      <button [disableRipple]="true" mat-raised-button type="submit" form="ngFormMain" color="primary" class="no-outline submit-btn pri-btn" onmousedown="event.preventDefault();event.stopPropagation()">
        <span>Submit</span>
      </button>
    </span>
  </footer>
</div>
