/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-container {
  height: calc(100% - 48px);
  margin: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
}

.mat-table {
  height: calc(100% - 74px) !important;
  background: transparent !important;
  overflow: auto !important;
}


.mat-header-cell {
    border: 1px solid #CCCCCC;
    background: #F2F2F2 !important;
    padding: 0 8px !important;
    max-height: 32px !important;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #000000 !important;
    text-transform: uppercase !important;
}

th.mat-header-cell:first-of-type,
mat-header-cell:first-of-type {
    border-radius: 8px 0px 0px 0px;
}

th.mat-header-cell:last-of-type,
mat-header-cell:last-of-type {
    border-radius: 0px 8px 0px 0px;
}

.mat-header-row {
    min-height: 32px !important;
}

.mat-cell,
.mat-footer-cell {
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0 8px !important;
    word-break: break-all;
}

.mat-cell {
    font-size: 13px !important;
    line-height: 18px;
    height: 18px;
}

.mat-paginator {
    height: 64px;
}